body {
  font-family: Arial, sans-serif;
  background: url('images/career_input_background.png') center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}


.form-container {
  background: rgba(255, 255, 255, 0.3);
  /* Fully transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  width: 100%;
  text-align: center;
}


h1 {
  color: #000000;
  margin-bottom: 25px;
}

h2 {
  color: #007bff;
  text-align: left;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
  font-size: 25px;
}

input,
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.98);
}

p {
  text-align: left;
  color: #495057;
  margin-bottom: 15px;
}